body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0px;
    background-color: lightgray;
}

.header {
    background-color: gray;
    text-align: center;
    font-size: 30px;
    margin: 0px;
    padding: 20px;
}

.game {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-flow: wrap;
    margin: 50px;
}

.player, .computer {
    background-color: gray;
    padding: 20px;
    border: 2px solid black;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-size: 40px;
}

.player-choices, .computer-choices {
    display: flex;
    flex-flow: wrap;
    gap: 15px;
}

.game button {
    background-color: lightgray;
    width: 150px;
    height: 150px;
    font-size: 20px;
    border-radius: 8px;
}

.score {
    padding-left: 100px;
    padding-bottom: 30px;
    font-size: 20px;
}