body {
    margin: 0px;
    font-family: "Georgia", sans-serif;
}

.score {
    background-color: lightpink;
    font-size: 25px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.game {
    min-height: 91vh;
    background-color: lightskyblue;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

.player, .computer {
    font-size: 40px;
    display: flex;
    flex-direction: column;
    gap: 10px
}

